.success {
    margin-left: 10px;
}

.container {
    max-width: 700px;
}

#comments-container {
    border: 1px solid #d0d0d0;
    height: 400px;
    overflow-y: scroll;
}

.comment-container {
    padding: 10px;
    margin:6px;
    font-size: 13px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.other-messages {
    background: #f5f5f5;
}

.my-name {
    background: red !important;
}

.my-messages {
    background: #999;
}

.comment-container .label {
    margin-right: 20px;
}

.comment-container:last-of-type {
    border-bottom: none;
}